{% extends 'base.html' %}

{% block title %}{{ action }} une catégorie{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ action }} une catégorie</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'templates_app:category_list' %}" class="btn btn-secondary">
                                Annuler
                            </a>
                            <button type="submit" class="btn btn-primary">
                                {{ action }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
